<!doctype html>
<html>
    {{> head}}
  <body>
        {{>navbar}}
        <div class="content pure-u-1 pure-u-md-3-4">
              <div>
                  <!-- A wrapper for all the blog posts -->
                  <div class="posts">

                    <section class="post">
                      <div class="post-description">
                        <p>
                        Brianzolo di nascita, novarese di adozione da qualche anno. Laureato al Politecnico di Milano nel 2011.
                        </p>
                        <p>
                        Dopo una esperienza di alcuni anni come consulente in Magneti Marelli Motorsport ora insegno informatica e tengo corsi di programmazione.
                        </p>
                        <p>
                        Uso <a href="linux.html">Linux</a> dal 2004, Mac OS dal 2006, Windows solo se costretto.
                        </p>
                        <p>
                        Nel tempo libero amo viaggiare in bici, da solo oppure in compagnia, lo trovo il miglior modo di visitare una certa zona:<br/>
                        non troppo lento da impedirmi di visitare luoghi anche a km di distanza, ma non troppo veloce da impedirmi di immergermi nell'ambiente.
                        </p>
                        <p>
                        Amo bere (e brassare) buona birra e la xilografia giapponese (mokuhanga).
                        </p>
                      </div>
                    </section>
                  </div>
                  {{> footer}}
              </div>
        </div>
        </div>
  </body>
</html>
