<!doctype html>
<html>
    {{> headbici}}
    <body>
        {{> navbar}}
        <div class="content pure-u-1 pure-u-md-3-4">
              <div>
                <!-- A wrapper for all the blog posts -->
                <div class="posts">
                  <section class="post">
                    <div class="post-description">
                      <h1 class="track-title">{{nome}}</h1>
                      <div id="map"> </div>
                      <ul>
                        <li>lunghezza in km: {{distanza}}</li>
                        <li>velocita' media: {{media}}</li>
                      </ul>
                    </div>
                </div>
              </div>
        </div>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet-src.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
        <script>
          var map = new L.Map('map', {
            layers: [
              new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                { 'attribution': 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'})
               ],
            center: [0, 0],
            zoom: 0
          });
          var gpx = 'https://fabiopozzi.net/gpx/{{nome_file}}.gpx';
          new L.GPX(gpx, { async: true }).on('loaded', function (e) {
            map.fitBounds(e.target.getBounds());
          }).addTo(map);
        </script>
  </body>
</html>
