<!doctype html>
<html>
    {{> head}}
  <body>
        {{>navbar}}
        <div class="content pure-u-1 pure-u-md-3-4">
              <div>
                  <!-- A wrapper for all the blog posts -->
                  <div class="posts">
                      <section class="post">
                          <header class="post-header">
                            <h1 class="post-title">Doom Emacs</h1>
                          </header>
                          <div class="post-description">
                            <div>Recentemente ho installato con molta soddisfazione <a href="https://github.com/hlissner/doom-emacs">Doom Emacs</a>, un framework di configurazione per l&#8217;editor <a href="https://www.gnu.org/software/emacs/">GNU Emacs</a>.</div>
                            <div>Cosa diavolo è un framework di configurazione?<br/>
                              In pratica sono state scelte alcune estensioni di Emacs (packages) che sono quindi installate e pre-configurate. Inoltre è stata modificata la gestione dell&#8217;installazione e dello aggiornamento delle estensioni rispetto a quanto offerto da GNU Emacs.</div>
                            <div>Questo significa che avremo a disposizione molte funzionalità in più rispetto all&#8217;editor base, con anche una configurazione di base ragionata e curata.<br/>
                            Questo significa che troveremo già installati e funzionanti questi plugin (tra gli altri):
                              <ul>
                                <li><strong>evil-mode</strong> che ci permette di usare i keybindings di vim al posto dei classici di emacs</li>
                                <li><strong>org-mode</strong> che ci permette di organizzare appunti, documenti o liste di attività di ogni genere, esportare queste informazioni in diversi formati e molto altro</li>
                                <li><strong>ripgrep</strong> che permette di eseguire ricerche avanzate tra file e directory di un progetto</li>
                              </ul>
                            </div>
                            <div>Da vecchio utente <a href="https://www.vim.org">Vim</a> apprezzo davvero molto questa possibilità. Questo mi ha anche permesso di utilizzare org-mode per la gestione di alcuni appunti di studio. È davvero uno strumento potente che permette di prendere appunti in modo strutturato, navigarli in modo veloce, inserire formule matematiche tramite <a href="https://www.latex-project.org">LaTeX</a> in modo semplice ed avere la possibilità di esportare gli appunti in diversi formati (HTML, ODT, Markdown) pur mantenendo le potenzialità di modifica e manipolazione offerte da GNU Emacs.</div>
                          </div>
                  </div>
              </div>
        </div>
  </body>
</html>

