                  <div class="footer">
                    <div class="pure-menu pure-menu-horizontal">
                      <ul>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="https://github.com/fabiopozzi" target="_blank" rel="noopener" title="GitHub"> GitHub </a>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="https://www.vim.org/">Vim</a>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="https://nodejs.org/">NodeJS</a>
                        </li>
                      </ul>
                    </div>
                  </div>

