<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fabio Pozzi personal website.">
    <meta charset="utf-8" />
    <title>Fabio Pozzi</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/black.css" id="theme">
    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="css/monokai.css" id="highlight-theme">

</head>