<!doctype html>
<html lang="en">
  {{> head}}
  <body>
        {{>navbar}}
        <div class="content pure-u-1 pure-u-md-3-4">
              <div>
                  <!-- A wrapper for all the blog posts -->
                  <div class="posts">
                      <h1 class="content-subhead">Ultimi articoli</h1>
                      <section class="post">
                        <header class="post-header">
                            <h2 class="post-title">Il DNA visto con gli occhi di un informatico (parte 1)</h2>
                            <h5 class="post-meta">28 dic 2020</h5>
                        </header>
                        <div class="post-description">
                            Siamo appassionati di tecnologia, di software e di hardware, siamo abituati a lavorare con computer e circuiti elettronici, potremmo rimanere molto sorpresi (io lo sono stato molto) nello scoprire che in realtà il funzionamento di una cella è in molti modi analogo a quello di un computer.<a href="dna_informatico.html">[...]</a>
                        </div>
                      </section>
                      <section class="post">
                        <header class="post-header">
                            <h2 class="post-title">Doom Emacs</h2>
                            <h5 class="post-meta">17 set 2020</h5>
                        </header>
                        <div class="post-description">
                            Recentemente ho installato con molta soddisfazione <a href="https://github.com/hlissner/doom-emacs">Doom Emacs</a>, un framework di configurazione per l&#8217;editor <a href="https://www.gnu.org/software/emacs/">GNU Emacs</a> <a href="doom_emacs.html">[...]</a>
                        </div>
                      </section>
                      <section class="post">
                        <header class="post-header">
                            <h2 class="post-title">Ricompilare il linux kernel - part 1</h2>
                            <h5 class="post-meta">19 lug 2020</h5>
                        </header>
                        <div class="post-description">
                          In questa serie di articoli vedremo diversi modi per ricompilare il kernel Linux <a href="linux_kernel.html">[...]</a>
                        </div>
                      </section>
                      <section class="post">
                        <header class="post-header">
                            <h2 class="post-title">Un sito nuovo, fatto a mano!</h2>
                            <h5 class="post-meta">28 giu 2020</h5>
                        </header>
                        <div class="post-description">
                          Visto il periodo di reclusione forzata ho deciso di riprendere in mano il buon vecchio sito web e renderlo più aggiornato e funzionale <a href="nuovo_sito.html">[...]</a>
                        </div>
                      </section>
                  </div>
              </div>
        </div>
  </body>
</html>
