<!doctype html>
<html>
    {{> head}}
  <body>
        {{>navbar}}
        <div class="content pure-u-1 pure-u-md-3-4">
              <div>
                  <!-- A wrapper for all the blog posts -->
                  <div class="posts">

                    <section class="post">
                      <div class="post-description">
                        <h1>Lista percorsi (molto incompleta)</h1>
                        <ul>
                          {{#listaTracce}}
                          <li><a class="nav-link pl-0 text-info" href="{{link}}">{{title}}</a></li>
                          {{/listaTracce}}
                        </ul>
                      </div>
                    </section>
                  </div>
              </div>
        </div>
  </body>
</html>
