<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Introduzione al terminale</title>

    <link rel="stylesheet" href="reveal/dist/reset.css">
    <link rel="stylesheet" href="reveal/dist/reveal.css">
    <link rel="stylesheet" href="reveal/dist/theme/black.css" id="theme">

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="reveal/plugin/highlight/monokai.css" id="highlight-theme">
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        <section>
          <h2>Cenni storici</h2>
          <p class="fragment">Il linguaggio C è un linguaggio di programmazione di alto livello, sviluppato negli anni 70.</p>
          <p class="fragment">Col passare degli anni sono nati linguaggi che offrono più astrazione (ruby, python, haskell), ma ogni astrazione ha spesso un costo in termini di risorse occupate (memoria, CPU).</p>
          <p class="fragment">Il linguaggio C è il meno astratto tra i linguaggi di alto livello, questo lo rende adatto a dispositivi con poche risorse (sistemi embedded).</p>
        </section>
        <section>
        <p class="fragment">I sorgenti di un programma C non sono altro che file di testo strutturati in modo opportuno.</p>
        <p class="fragment">Quanto scritto all'interno di questi file viene trasformato in un file contenente del linguaggio macchina</p>
        <p class="fragment">che può quindi essere eseguito dal computer.</p>
        </section>
        <section>
          <pre>
<code style="max-height: none;">#include &lt;stdio.h&gt; // Direttive per il compilatore

// parola chiave che identifica
// l'inizio del programma principale
int main()
{
        int a, b;

        a = 5;

        if (a &gt; 2) {
            b = 0;
        } else {
            b = 1;
        }

        return b;
}
</code></pre>
        </section>
        <section>
          <h3>Direttive per il preprocessore</h3>
          <p>Le direttive sono istruzioni particolari che iniziano con # ed indicano l'intenzione di utilizzare
          una libreria esterna (che implementa una serie di funzionalità).</p>
          <p>
          <ul>
            <li>stdio.h : Funzioni di Input/Output</li>
            <li>math.h  : Funzioni matematiche (trigonometriche, potenze, etc)</li>
            <li>...</li>
          </ul>
          </p>
        </section>
        <section>
          <h3>La funzione main()</h3>
          <p>La parola chiave <code>main</code> indica l'inizio del programma.</p>

          <p>Le parentesi graffe { ed } racchiudono le istruzioni che verranno eseguite dall'elaboratore.</p>
        </section>
        <section>
          <h2>Le variabili</h2>

          <p>Le variabili sono contenitori per informazioni.</p>

          <p>Per questo motivo sono caratterizzate da:
          <ul>
            <li> un <b>nome</b> che identifica univocamente il contenitore</li>
            <li> un <b>tipo</b> che determina valori ammissibili, dimensione in byte e le operazioni che possono essser eseguite.</li>
          </ul>
          </p>
        </section>
      </div>
    </div>

    <script src="reveal/dist/reveal.js"></script>
    <script src="reveal/plugin/notes/notes.js"></script>
    <script src="reveal/plugin/markdown/markdown.js"></script>
    <script src="reveal/plugin/highlight/highlight.js"></script>
    <script>
      // More info about initialization & config:
      // - https://revealjs.com/initialization/
      // - https://revealjs.com/config/
      Reveal.initialize({
        width: "100%",
        height: "100%",
        margin: 0,
        minScale: 1,
        maxScale: 1,
        hash: true,

        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes]
      });
    </script>
  </body>

</html>
