<!doctype html>
<html>
    {{> head}}
  <body>
        {{>navbar}}
        <div class="content pure-u-1 pure-u-md-3-4">
              <div>
                  <!-- A wrapper for all the blog posts -->
                  <div class="posts">
                      <section class="post">
                          <header class="post-header">
                            <h2 class="post-title">Linux</h2>
                          </header>
                   <div class="post-description">
                     <p>
                     Ho iniziato ad usare linux durante i primi anni al polimi. Probabilmente nella seconda metà del primo anno, prima di iniziare i corsi di programmazione.
                     Quindi era il 2004. Di tempo ne è passato.
                     </p>
                     <p>
                     Il mio primo portatile fu un pesantissimo ed ingombrante Toshiba a40-261 15" con un ruggente Pentium4 da 2.4GHz.<br/>
                     La prima distribuzione linux fu invece <a href="https://www.gentoo.org">Gentoo</a>: volevo capire come funzionava linux, in più avevo scoperto subito che
                     smanettare con l'installazione e l'amministrazione del sistema mi divertiva.
                     Spulciando il web la mia iscrizione al forum di Gentoo risale infatti al luglio 2004!
                     </p>
                     <p>
                     Poi venne il turno di <a href="https://www.debian.org">Debian</a> e <a href="https://www.archlinux.org">Archlinux</a>.<br/>
                     Arch la provai grazie a qualche amico del <a href="https://poul.org">Politecnico Open unix Labs</a> e mi attirò subito per la sua "semplicità".
                     </p>
                   </div>
                  </div>
              </div>
        </div>
  </body>
</html>
